:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.mat-sidenav {
  width: 180px;
}

.page-content {
  overflow-y: auto;
}

.nav-link {
  display: flex;
  align-items: center;
}
