@import '~@angular/material/theming';

@mixin login-page-theme($theme) {
  $background: map-get($theme, background);

  :host {
    background-color: mat-color($background, background);
  }

  .login-input {
    background-color: mat-color($background, card);
  }
}
