// Import theming functions
// @import '~@angular/material/theming';
// Import your custom theme
// @import 'src/theme/theme.scss';

.login-input {
  padding: 1.5em;
  width: 20em;
  margin: 3em auto;
  border-radius: 0.5em;
  // box-shadow: 0 0 2em rgba(0, 0, 0, 0.25);
}

.form-login {
  ul {
    display: flex;
    flex-direction: column;

    li {
      display: flex;
      flex-direction: column;
      input {
        padding: 0.6em 0.8em;
        color: #999;
        background: #f7f7f7;
        border: 1px solid #e1e1e1;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 0.9em;
        text-decoration: none;
        line-height: normal;
        max-height: 3em;

        &:focus {
          color: #333;
          border: 1px solid rgba(0, 0, 0, 0.25);
          outline: none;
          background: #f2f2f2;
        }
      }
    }
  }
}

.login-btn {
  width: 100%;
  border-radius: 0px 2px 2px 0px;
  // background: mat-color($app-primary);
  font-weight: 300;
  text-transform: uppercase;
  // color: white;
  padding: 0.35em 0.75em;
  // border: none;
  font-size: 1.1em;
  text-decoration: none;
  cursor: pointer;
}

.auth-errors {
  margin: 0 auto 5px;
  padding: 3px 3px 3px;
  color: #b94a48;
  background-color: #f2dede;
  border-radius: 2px;
}
