<div class="user-dropdown-overlay-container mat-elevation-z6">
  <mat-list role="list">
    <mat-list-item role="listitem">
      <h3 *ngIf="(user$ | async) as user" (click)="navigateToProfile()" class="user-profile">
        {{ user.firstName }} {{ user.lastName }}
      </h3></mat-list-item
    >
    <mat-list-item role="listitem"
      ><mat-slide-toggle
        (change)="toggleDarkMode($event.checked)"
        [checked]="(user$ | async).settings.darkMode"
        >Dark Mode</mat-slide-toggle
      ></mat-list-item
    >
    <mat-list-item role="listitem"
      ><button mat-button class="logout-button" type="button" (click)="logout.emit()">
        Logout
      </button></mat-list-item
    >
  </mat-list>
</div>
