<div class="user-dropdown-overlay-container mat-elevation-z6">
  <mat-list role="list">
    <mat-list-item role="listitem">
      <h3>
        {{ (authenticatedUser$ | async).firstName }} {{ (authenticatedUser$ | async).lastName }}
      </h3></mat-list-item
    >
    <mat-list-item role="listitem"
      ><mat-slide-toggle
        (change)="toggleDarkTheme.emit($event.checked)"
        [checked]="darkTheme$ | async"
        >Dark Mode</mat-slide-toggle
      ></mat-list-item
    >
    <mat-list-item role="listitem"
      ><button mat-button class="logout-button" type="button" (click)="logout.emit()">
        Logout
      </button></mat-list-item
    >
  </mat-list>
</div>
