:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  // overflow: hidden;
}

// .container {
//   display: flex;
//   flex-direction: row;
//   height: 100%;
// }

.mat-sidenav {
  width: 180px;
}

mat-sidenav-container {
  flex: 1;
}

.app-content {
  display: flex;
  flex-flow: column;
  height: 100%;
}

// .header {
//   flex: 0 1 auto;
// }

.page-content {
  display: flex;
  flex-flow: column;
  flex: 1 1 0;
  overflow-y: auto;
}
