<div fxLayout="row" fxLayout.xs="column" class="container">
  <div fxFlex="1 0 0" class="column">
    <demo-todo-detail (saved)="saveTodo($event)" (cancelled)="clearTodo()"></demo-todo-detail>
  </div>
  <div class="column list" fxFlex="2 0 0">
    <demo-all-todos
      [todos]="userTodo$ | async"
      (selected)="navigateTo($event)"
      (delete)="deleteTodo($event)"
    >
    </demo-all-todos>
    <!-- <demo-todo-list
      [todos]="userTodo$ | async"
      (selected)="navigateTo($event)"
      (delete)="deleteTodo($event)"
    ></demo-todo-list> -->
  </div>
</div>
